Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
num_entero = 36
print(num_entero)

36

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
const = 8.5
print(type(const))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(num_entero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
mi_nombre = 'Bruno'

5) Crear una variable que contenga un número complejo

In [5]:
num_complejo = num_entero + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(num_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
var_pi = 4.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
var_True1 = 'True'
var_True2 = True
print(type(var_True1))
print(type(var_True2))

<class 'str'>
<class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [9]:
print(type(var_True1))
print(type(var_True2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
var_suma = num_entero + const
print(var_suma)

44.5

11) Realizar una operación de suma de números complejos

In [11]:
var_sum_complejos = (11 + 1j) + (12 + 2j)
print(var_sum_complejos)
print(type(var_sum_complejos))

(23+3j)
<class 'complex'>

12) Realizar una operación de suma de un número real y otro complejo

In [12]:
const + var_sum_complejos

(31.5+3j)

13) Realizar una operación de multiplicación

In [13]:
const * num_entero

306.0

14) Mostrar el resultado de elevar 2 a la octava potencia

In [14]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [16]:
var_div = 27 / 4
print(var_div)

6.75

16) De la división anterior solamente mostrar la parte entera

In [20]:
print(int (var_div))
print(27 // 4)

6
6

17) De la división de 27 entre 4 mostrar solamente el resto

In [21]:
print(27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [23]:
4 * (27 // 4) + (27 % 4)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [25]:
'2F3G4G' + '27623H'

'2F3G4G27623H'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [26]:
'2' == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [27]:
int('2') == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [28]:
a = float('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [30]:
variable = 3
variable -= 2
print(variable)

1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [34]:
11 << 4 << 65

6493253913945762168832

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [38]:
print(str(2) + '2')
print(2 + int('2'))

22
4

26) Realizar una operación válida entre valores de tipo entero y string

In [40]:
'2'*5

'22222'